html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: skyblue;
}
.heading {
  padding: 2rem;
  text-align: center;
  font-size: 5rem;
}
.cardsearch {
  font-size: 3rem;
}
.randImage {
  text-align: center;
  padding: 1rem;
}
.searchImage {
  text-align: center;
  border: ;
}
